.logreg-href {
  text-decoration: none;
}

.logreg-button {
  display: flex;
  height: 60px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
}

.logreg-button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.logreg-button:active {
  background-color: rgba(0, 0, 0, 0.8);
}

.logreg-button.log {
  width: 99px;
}

.logreg-button.reg {
  width: 262px;
}

.login-register.text {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2';
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.main.main-page {
  margin: 0;
  padding: 150px 0;
  padding-left: 416px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-image: url('/img/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content.main-page {
  display: flex;
  flex-direction: column;
  gap: 82px;
  width: auto;
}

.assistant {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.assistant.header {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2';
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 248, 241, 1);
}

.assistant.search {
  width: auto;
  display: flex;
  align-items: center;
  padding: 20px 35px;
  background-color: rgba(84, 68, 52, 0.5);
  border-radius: 15px;
  cursor: pointer;
}

.assistant.search:hover {
  background-color: rgba(84, 68, 52, 0.3);
}

.assistant.search:active {
  background-color: rgba(84, 68, 52, 0.7);
}

.search-input {
  margin: 0;
  font-family: "Exo 2";
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.search.buttons {
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 13px;
}

.search-href {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.assistant-description {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 564px;
}

.assistant-description.header {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2';
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 248, 241, 1);
}

.assistant-description.description {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2';
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.footer {
  height: auto;
  padding: 16px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(84, 68, 52, 1);
}

.footer.content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 34px;
}

.content.text {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2';
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(190, 212, 164, 1);
}
