<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
    <link rel="stylesheet" href="../static/css/main-page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <header class="header main-page">
    <a class="fstw-logo" href="">
      <img src="../static/img/fstw.svg" width="180" height="45" alt="Логотип персонального кабинета">
    </a>
    <div class="login-register">
      <a href="../templates/main-page.html" class="logreg-href">
        <div class="logreg-button reg">
          <p class="login-register text">Зарегистрироваться</p>
        </div>
      </a>
      <a href="../templates/main-page.html" class="logreg-href">
        <div class="logreg-button log" href="">
          <p class="login-register text">Войти</p>
        </div>
      </a>
    </div>
  </header>
  <main class="main main-page">
    <div class="main-content main-page">
      <div class="assistant">
        <p class="assistant header">Стажировки УрФУ х AI</p>
        <div class="assistant search">
          <p class="search text">Ищи стажировку здесь!</p>
          <div class="search buttons">
            <a href="" class="search-href">
              <i class="material-icons" href="">settings</i>
            </a>
            <a href="" class="search-href">
              <i class="fa fa-bolt fa-2x" href="" title="search"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="assistant-description">
        <p class="assistant-description header">Найдите стажировку мечты с умным помощником</p>
        <p class="assistant-description description">Наш сайт - это агрегатор стажировок для студентов УрФУ,
          где можно не только искать вакансии, но и легко создавать резюме,
          получать персонализированные рекомендации и готовиться к собеседованиям.
          <br>Мы собираем актуальные предложения от компаний в одном месте, экономя ваше время и силы.</p>
      </div>
    </div>
  </main>
  <footer class="footer main-page">
    <div class="footer content">
      <p class="content text">О проекте</p>
      <p class="content text">FAQ</p>
    </div>
    <div class="footer content">
      <a class="cu-logo" href="">
        <img src="../static/img/cu-logo.svg" width="54" height="54" alt="Логотип персонального кабинета">
      </a>
      <a class="fstw-footer-logo" href="">
        <img src="../static/img/fstw-footer.svg" width="132" height="67" alt="Логотип персонального кабинета">
      </a>
    </div>
  </footer>
</body>
</html>
