body {
  margin: 0;
  padding: 0;
}

.main.chatBot-main {
  margin: 0;
  padding: 25px 0 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/img/resume-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.chatBot-mainContent {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.chatBot-header {
  margin: 0;
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: black;
  text-align: center;
}

.chatBot {
  padding: 10px 15px;
  width: 900px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(84, 68, 52, 0.2);
  border-radius: 20px;
}

.chatBot-history {
  padding: 0 10px;
  height: 450px;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;

  scrollbar-width: thin;
  scrollbar-color: rgba(228, 186, 152, 0.7) rgba(0, 0, 0, 0.2);
}

.chatBot-history::-webkit-scrollbar {
  width: 12px;
}

.responsedMessage {
  margin: 0;
}

.message {
  width: auto;
  margin: 0;
  padding: 10px;
  font-family: "Exo 2";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  border-radius: 15px;
  max-width: inherit;
  white-space: pre-line;
}

.message.user-message {
  align-self: flex-end;
  background-color: rgba(84, 68, 52, 0.6);
  border-bottom-right-radius: 0;
  color: rgba(255, 255, 255, 1);
}

.message.bot-message {
  white-space: pre-line;
  margin: 0;
  align-self: flex-start;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 0;
  color: rgba(0, 0, 0, 1);
}

.message a {
  color: rgba(0, 96, 199, 1);
  text-decoration: underline;
}
.message a:hover {
  color: rgba(0, 96, 199, 0.7);
}
.message a:active {
  color: rgba(0, 96, 199, 0.4);
}
.bot-message pre {
  background: #d2bfa1;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  font-family: monospace;
  margin: 1px 0;
}
.bot-message code {
  padding: 2px 4px;
  border-radius: 3px;
  font-family: monospace;
}
.bot-message h1 {
  font-size: 1.5em;
  margin: 10px 0;
}
.bot-message h2 {
  font-size: 1.3em;
  margin: 8px 0;
}
.bot-message h3 {
  font-size: 1.2em;
  margin: 6px 0;
}
.bot-message h4 {
  font-size: 1.1em;
  margin: 5px 0;
}
.bot-message h5 {
  font-size: 1em;
  margin: 4px 0;
}
.bot-message h6 {
  font-size: 0.9em;
  margin: 3px 0;
}
.bot-message strong {
  font-weight: bold;
}
.bot-message em {
  font-style: italic;
}

.loading {
  display: flex;
  align-items: center;
}

.dots {
  display: inline-block;
  width: 20px;
  text-align: left;
}

.dots::after {
  content: "...";
  animation: dots 1.5s infinite;
}

@keyframes dots {
  0%, 25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

.chatBot-inputContainer {
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: space-between;
}

.chatBot-input {
  width: 92%;
  background: none;
  border: none;
  border-radius: 15px;
  margin: 0;
  padding: 10px;
  background-color: rgba(84, 68, 52, 0.2);

  font-family: "Exo 2";
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: rgba(0, 0, 0, 1)
}

.chatBot-input:focus {
  outline: 2px solid black;
}

.chatBot-input::placeholder {
  text-align: center;
  font-family: "Exo 2";
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.5)
}

.chatBot-inputButton {
  border: none;
  background: none;
  border-radius: 13px;
  width: 39px;
  height: 49px;
  background-color: rgba(84, 68, 52, 0.5);
}

.chatBot-inputButton:hover {
  background-color: rgba(84, 68, 52, 0.3);
}

.chatBot-inputButton:active {
  background-color: rgba(84, 68, 52, 0.7);
}

.chatBotHelp {
  position: absolute;
  right: 10px;
  top: 105px;
  padding: 10px 15px;
  width: 224px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  background-color: #54443433;
}

.chatBotHelper--container {
  width: inherit;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chatBot--part {
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chatBotHelper--title {
  margin: 0;
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}

.chatBotHelper--text {
  margin: 0;
  font-family: "Exo 2";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}



@media (min-width: 360px) and (max-width: 740px) {

  .chatBot {
  margin: auto;
  width: 90%;
  min-height: 80%;
  align-items: center;
}

.chatBotHelp {
  width: 90%;
  align-items: center;
  position: static;
}

.message {
  font-size: 14px;
}

.main.chatBot-main {
  height: 112vh;
  justify-content: start;
}

.chatBot-mainContent {
  margin-top: 5px;
  gap: 10px;
}

}